

<div class="footer">
    <div class="row overlay">
      <div class="col-lg-6 col-md-12">
        <div class="social-container"> 
        <div class="row   white">
          <div class="col-12 ml-8">
            Partagez vos voyage avec nous
          </div>
          <div class="col-12 social">
              
            <div  style="margin: 4px; width: 36px; height: 36px; border-radius: 18px; border: 2px solid #5DCBAD; color:#5DCBAD">
                    <a><i class="fa fa-facebook" style=" margin-top: 8px; margin-left: 12px;    font-size:18px; "></i></a>
                  </div>
                <div  style="margin: 4px; width: 36px; height: 36px; border-radius: 18px; border: 2px solid #5DCBAD; color:#5DCBAD">
                <a><i class="fa fa-twitter" style=" margin-top: 8px; margin-left: 8px;    font-size:18px; "></i></a>
              </div>
            
               <div  style="margin: 4px; width: 36px; height: 36px; border-radius: 18px; border: 2px solid #5DCBAD; color:#5DCBAD">
                <a><i class="fa fa-linkedin" style=" margin-top: 6px; margin-left: 8px;    font-size:18px; "></i></a>
              </div>
            
               <div  style="margin: 4px; width: 36px; height: 36px; border-radius: 18px; border: 2px solid #5DCBAD; color:#5DCBAD">
                <a><i class="fab fa-pinterest-p" style=" margin-top: 6px; margin-left: 8px;    font-size:18px; "></i></a>
              </div>
               <div  style="margin: 4px; width: 36px; height: 36px; border-radius: 18px; border: 2px solid #5DCBAD; color:#5DCBAD">
                     <a><i class="fab fa-google-plus-g" style=" margin-top: 6px; margin-left: 4px;    font-size:18px; "></i></a>
                </div>
            
               <div  style="margin: 4px; width: 36px; height: 36px;  border-radius: 18px; border: 2px solid #5DCBAD; color:#5DCBAD">
               <a><i class="fab fa-instagram" style=" margin-top: 6px; margin-left: 8px;    font-size:18px; "></i></a>
            </div>
               
              
               
          </div>
  
             </div>
        </div>
              
      </div>
 
     
      <div class="col-lg-2  col-sm-6 col-xs-6 white navigation ">
        <span class="bold mb-10">Dreamin get away</span>
        <nav>
          <ul style="list-style-type:none; margin-left:0px;padding-left:0px;">
            <li class="mt-20" ><a routerLink="/test-navigation" routerLinkActive="active"> <span data-lang="fr">À propos</span></a></li>
            <li class="mt-8"><a routerLink="/test-navigation" routerLinkActive="active">Loyer hebergement</a></li>
            <li class="mt-8"><a routerLink="/test-navigation" routerLinkActive="active">Voyage</a></li>
            <li class="mt-8"><a routerLink="/test-navigation" routerLinkActive="active">Connexion</a></li>
            <li class="mt-8"><a routerLink="/test-navigation" outerLinkActive="active">Inscription</a></li>
   
          </ul>
        </nav>
      </div>
  
      <div class="col-lg-4 col-sm-6 col-xs-6 white contact">
        <div class = "blur-image-footer">
          
            <span class="bold">Nous joindre</span>
            <div class="ml-15">
            <div class="row mt-20">
                   <div class="mt-10">
                         <a><i class="fas fa-phone-volume" style="width:36px; height:36px; font-size:18px; color:#5DCBAD"></i></a>
                   </div>
                   <div class="pt-0">
                            <p  data-lang="fr">
                              <span style="font-size: 14px;"> <span style="font-size: 11px;">sans-frais</span><br>1 800 555-2834</span>
                              
                          </p>
                   </div>
            
            </div>
            <div class="row">
              <div class="mt-10">
                    <a><i class="fa fa-envelope-o" style="width:36px; height:36px; font-size:18px; color:#5DCBAD"></i></a>
              </div>
              <div class="mt-8 green">
                       <p data-lang="fr">
                         <span>dreamingetaway.com</span>
                         
                     </p>
              </div>
       
           </div>
           <div class="row">
            <div class="mt-10">
                  <a><i class="fas fa-map-marker-alt" style="width:36px; height:36px; font-size:18px; color:#5DCBAD"></i></a>
            </div>
            <div class="mt-8">
                     <p data-lang="fr">
                       <span>2092 Blvd St-Joseph, Montreal</span>
                       
                   </p>
            </div>
     
         </div>
        </div>
         
  
  
        </div>
        
      </div>
      
      <div class="col-md-12 mt-10 copyright ">
          <div class="copyright-text">
                    <p class="white  " data-lang="fr">
                     
                        <span class=" ">Tous droit reserves 2018 © <span style="font-weight:700">Decouvrir le monde par les voyages</span></span>
                        
                    </p>
             </div>
        </div>

  </div>
         

</div>
  
  
  
