.date-selection-label{

  margin: auto;
 margin-top: 15px;
 margin-left: 10px;
 
}
.date-selection-input{
  
  text-align: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 15px;

}
.arrow{
  margin-top: -2px;
}

.calendar-icon{
  margin: auto;
  margin-right: 0px;
  margin-top: 0px;

  width: 30px;
  
}
.background{
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 25px;
    background-color: #E9E9E9;
}
button {
   
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    outline:none;
    outline-width: 0;
  }
  
   button:focus{
    color: rgba(255, 255, 255, 0.7)
  }

  .more-filter-btn{
    border: none;
    background-color: #E9E9E9;
    color: rgba(0, 51, 70, 1);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    outline:none;
    outline-width: 0;
  
  }
  button.more-filter-btn:focus{
    color: rgba(0, 51, 70, 0.7);
  }


  .gray-bg{
      background-color: rgb(244, 245, 246);
  }
  .selection{
    height: 40px;
   
  }
  .item{
    border: 1px solid rgb(222, 223, 224);
    display: flex;
    align-items: center;
  }





  .search-container{
    width: 100%;
    border-radius: 18px; border: 2px solid #5DCBAD;
    background-color: white;
    max-height: 50px;
  }
 .search-container button:hover {
    background: #ccc;
  }
  
  .search-container input
  {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 90%;
    outline:none;
    background-color: rgba(0, 0, 0, 0);

  }
  .search-container input.middle:focus {
    outline-width: 0;
}






.dropdown-container {
  width: 250px;

  position: relative;
}

select {
  width: 100%;
  height: 40px;
  font-size: 100%;
 
  cursor: pointer;
  border-radius: 0;
  background-color: rgb(244, 245, 246);
  border: 1px solid rgb(222, 223, 224);
 
  
  color: rgb(98, 98, 98);
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  outline:none;
  outline-width: 0;
}



/* For IE <= 11 */
select::-ms-expand {
  display: none; 
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 36px;
  pointer-events: none;

  
  padding-left: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.select-icon svg.icon {
  transition: fill 0.3s ease;
  fill: rgb(0, 0, 0);
}

select:hover,
select:focus {
  color: rgb(98, 98, 98);
  background-color:rgb(244, 245, 246);
 
  
}
select:hover ~ .select-icon,
select:focus ~ .select-icon {

}
select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
  fill: rgb(0, 0, 0);
}