




<div class="background d-none d-lg-block">

    <div class="d-flex justify-content-center selection">
      <div >
        <div class="dropdown-container" style="width: 230px;">
          <select>
            <option value="">Essayer Montreal</option>
            <option value="Style1">Essayer Quebec City</option>
            <option value="Style2">Essayer Sherbrooke</option>
          
          </select>
        
        </div>
      </div>
      <div >
        <div class="dropdown-container" style="width: 130px;">
          <select>
            <option value="">Style</option>
            <option value="Style1">Style1</option>
            <option value="Style2">Style2</option>
            <option value="Style3">Style3</option>
            <option value="Style4">Style4</option>
          </select>
          <div class="select-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 36 36">
              <path d="M10.5 15l7.5 7.5 7.5-7.5z"/>
              <path d="M0 0h36v36h-36z" fill="none"/>
          </svg>
          
          </div>
        </div>
      </div>
      
      <div >
        <div class="dropdown-container" style="width: 150px;">
          <select>
            <option value="">Langue</option>
            <option value="English">English</option>
            <option value="Francais">Francais</option>
            <option value="espanol">Espanol</option>
            <option value="vietnamese">Vietnamese</option>
          </select>
          <div class="select-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 36 36">
              <path d="M10.5 15l7.5 7.5 7.5-7.5z"/>
              <path d="M0 0h36v36h-36z" fill="none"/>
          </svg>
          
          </div>
        </div>
      </div>
      


   

        <mat-form-field class="item gray-bg"  style="width: 210px;" appearance="none">
    
                        <mat-label >
                          <div class=" date-selection-label" style="width: 80px;">
                                <span style="font-size: medium;">Arrivée</span>
                      
                                <img class="arrow ml-10"src="https://i.ibb.co/DpJNw2t/arrow-right.png" alt="">
                                <span style="font-size: medium;" class=" ml-10">Départ</span>
                            </div>
                        </mat-label>
                        <mat-date-range-input  class="date-selection-input"  [rangePicker]="picker">
                          
                              <input   matStartDate placeholder="Start date">
                              <input  matEndDate placeholder="End date">
                    
                        </mat-date-range-input>
        
         
                    <div class="calendar-icon">
                    <mat-datepicker-toggle class=  matSuffix [for]="picker"></mat-datepicker-toggle>
                  </div>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                          
            
          
       
          </mat-form-field>
          <button class="button green-bg text-uppercase" >rechercher</button>
          <button class="more-filter-btn  nowrap text-uppercase" >Plus de filter <span style="font-size: 14px; font-weight: 900;">+</span></button>
  </div>
</div>




<div class="background d-lg-none">
  

  <div class="search-container">
       <i class="fa fa-search ml-10"></i>
      <input class="ml-10" type="text" placeholder="Where are you  going?" name="search">
     
   
  </div>
</div>

