<div class="menu">

    <div class="row justify-content-between ml-10 ">
      
      <div class="col-lg-6 logo">
        <a routerLink="/home" routerLinkActive="active">
        <img class="logo" style="margin-top:10px; height: 75px; width: 150px;" src="https://i.imgur.com/L2KRRk7.png" alt="">
    </a>
    </div>
      <div class="col-lg-6 navigation">
        <div class="row more-info">
            <div class="col-md-12 ">
                <div class="d-flex justify-content-end">
                        <div class="yellow text-uppercase">
                            <a routerLink="/test-navigation" routerLinkActive="active" data-group="time-to-platelet">
                                <span data-lang="fr">aide</span>
                            </a>
                        </div>
                        <div class="yellow text-uppercase">
                            <a routerLink="/test-navigation" routerLinkActive="active" data-group="">
                                <span class="nowrap" data-lang="fr">nous joindre</span>
                            </a>
                        </div>
                        <div class="green text-uppercase">
                            <a routerLink="/test-navigation" routerLinkActive="active" data-group="">
                                <span class="nowrap mt-0" data-lang="fr">eng</span>
                            </a>
                        </div>
                    
                </div>
            </div>
        </div>
        
        <div class="row mt-10 mb-30">
            <div class="col-md-12 d-none d-lg-block">
                <div class="d-flex justify-content-end">
                    <ul class="lb-bc-list">
                        <li>
                            <a routerLink="/test-navigation" routerLinkActive="active" data-group="">
                            <span data-lang="fr">ANNONCER</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/test-navigation" routerLinkActive="active" data-group="">
                        
                                <span class="nowrap" data-lang="fr">PLANIFIER UN VOYAGe</span>
                            </a>
                        </li>
                
                        <li>
                            <a routerLink="/test-navigation" routerLinkActive="active" data-group="">
                                <span class="nowrap" data-lang="fr">MES VOYAGES</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/test-navigation" routerLinkActive="active" data-group="">
                                <span class="nowrap" data-lang="fr">CONNEXION</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-lg-none">
            <div class="col-md-3">
                <ul class="lb-bc-list">
                    <li>
                        <a routerLink="/test-navigation" routerLinkActive="active" data-group="time-to-platelet">
                        <span class="nowrap" data-lang="fr">ANNONCER</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <ul class="lb-bc-list">
                    <li>
                        <a routerLink="/test-navigation" routerLinkActive="active" data-group="time-to-platelet">
                        <span class="nowrap" data-lang="fr">PLANIFIER UN VOYAGe</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <ul class="lb-bc-list">
                    <li>
                        <a routerLink="/test-navigation" routerLinkActive="active" data-group="time-to-platelet">
                        <span class="nowrap" data-lang="fr">MES VOYAGES</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <ul class="lb-bc-list">
                    <li>
                        <a routerLink="/test-navigation" routerLinkActive="active" data-group="time-to-platelet">
                        <span class="nowrap" data-lang="fr">CONNEXION</span>
                        </a>
                    </li>
                </ul>

            </div>

          </div>
        </div>
        
        </div>
    
    </div>
    
 </div>






 
