
<app-top-menu></app-top-menu>

<app-search-filter></app-search-filter>



  <div class="register-banner">
    <div class="overlay">
       
          <h1 class="title white center-text text-uppercase mb-10">Decouvrir le monde par les voyage!</h1>
    
      <div class="row mt-30">
        <button style="  outline:none; outline-width: 0;" class="button green-bg"><span class="nowrap text-uppercase mt-0 mb-0">inscrivez-vous!</span></button>
      </div>
      
       
   </div>
    <img src="https://wallpapershome.com/images/pages/pic_h/6478.jpg">
  </div>


    <div class="row purpose-banner">
       <div class="item col-sm-6 col-xs-12">
       
            <img src="https://wallpapershome.com/images/pages/pic_h/18677.jpg">
      </div>
      <div class="item col-sm-6 col-xs-12">
          <div class="purpose-banner-content">
                <div class="row mb-10 ml-0">
                  <a><i class="fa fa-dollar" style="width:44px; height:44px; background-color: rgb(80, 76, 138);    font-size:20px; color:white"></i></a>
                  <div class="ml-10" >
                    <p data-lang="fr">
                      <span class="thick text-large text-uppercase" style="color:rgb(80, 76, 138);">faites du voyage <br>une experience</span>
                    </p>
                  </div>
              </div>
                  <p>Le capitaine Marcus Forns et sa femme, Johanne Gauthier, ont pris la mer avec leurs sept enfants et leur chienne Brume à l'été 2016 à bord d'un voilier de 13 mètres (43 pieds), le Pinocchio, pour entreprendre une aventure autour du monde.</p>
                  <div class="row mt-30 ml-0">
                    <a><i class="far fa-smile-beam" style="width:44px; height:44px; background-color: var(--main-orange-color); padding-left: 13px;   font-size:20px; color:white"></i></a>
                    <div class="ml-10" >
                      <p data-lang="fr">
                        <span class="thick text-large text-uppercase" style="color: var(--main-orange-color);">faites du voyage <br>une experience</span>
                      </p>
                    </div>
                </div>
                <p>Le capitaine Marcus Forns et sa femme, Johanne Gauthier, ont pris la mer avec leurs sept enfants et leur chienne Brume à l'été 2016 à bord d'un voilier de 13 mètres (43 pieds), le Pinocchio, pour entreprendre une aventure autour du monde.</p>
                
            </div>
      </div>
    
      <div class="item col-sm-6 col-xs-12">
        <div class="purpose-banner-content">
          <div class="row mb-10 ml-0">
            <a><i class="fas fa-school" style="width:44px; height:44px; background-color: var(--main-green-color);   padding-left: 10px; font-size:20px; color:white"></i></a>
            <div class="ml-10" >
              <p data-lang="fr">
                <span class="thick text-large text-uppercase" style="color:var(--main-green-color);">faites du voyage <br>une experience</span>
              </p>
            </div>
        </div>
          <p>Le capitaine Marcus Forns et sa femme, Johanne Gauthier, ont pris la mer avec leurs sept enfants et leur chienne Brume à l'été 2016 à bord d'un voilier de 13 mètres (43 pieds), le Pinocchio, pour entreprendre une aventure autour du monde.</p>
        <div class="row mt-30 ml-0">
                    <a><i class="fas fa-home" style="width:44px; height:44px; background-color: var(--main-yellow-color); padding-left: 12px;   font-size:20px; color:white"></i></a>
                    <div class="ml-10" >
                      <p data-lang="fr">
                        <span class="thick text-large text-uppercase" style="color:var(--main-yellow-color);">faites du voyage <br>une experience</span>
                      </p>
                    </div>
                </div>
        <p>Le capitaine Marcus Forns et sa femme, Johanne Gauthier, ont pris la mer avec leurs sept enfants et leur chienne Brume à l'été 2016 à bord d'un voilier de 13 mètres (43 pieds), le Pinocchio, pour entreprendre une aventure autour du monde.</p>
        
    </div>
            
      </div>
     <div class="item col-sm-6 col-xs-12">
        <img src="https://wallpapershome.com/images/pages/pic_h/18677.jpg">
      </div>
    </div>


    <div class="register-input">
      <div class="row">
      <div class="col-lg-7 col-md-12">
        <p  class="register-sentence" style="font-weight: lighter; ">
            <span class="bold" style="color: rgb(0, 205, 170);">Inscrivez-vous</span> pour recevoir les nouveaux hebergement
        </p>
      </div>
          <div class="col-lg-5">
                 
            <div class="email-input">
              <input   type="text" placeholder="Votre address email" >
              <button style="  outline:none; outline-width: 0;" class="button green-bg"><span class="text-uppercase mt-0 mb-0" style="font-size: 12px;">Souscrire</span></button>
           
          </div>
        </div>
      </div>
    </div>
  



<app-footer></app-footer>
